
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* NOTES
Font: 
font-family: 'GFS Didot', serif;
font-family: 'Martel', serif; 200,300,400
Color: featured #183039

 */

/* temporary styles */
/* * {
    padding: 0.5rem;
    border: 1px solid rgb(220,220,220);
} */
/* html,
body {
    border: none;
} */
/* h1, h2, h3, h4, h5, h6, p, a {border: 1px solid rgb(210, 152, 145);} */
/* .bg-image {background-color: rgb(224, 188, 127);} */

/* End temporary styles */

/* Re-usable Utiity Classes  */
.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }

.padded-0 { padding: 0;}
.padded    { padding: 5%;   }
.padded-1  { padding: 1rem; }
.padded-2  { padding: 2rem; }

.padded-t-2 {padding-top: 2rem;}
.padded-t-3 {padding-top: 3rem;}
.padded-b-2 {padding-bottom: 2rem;}
.padded-b-1 {padding-bottom: 1rem;}

.margin-b-0 {margin-bottom: 0;}
.margin-b-1 {margin-bottom: 1rem;}
.margin-t-1 { margin-top: 1rem;}
.margin-l {margin-left: 0.5rem; }

.nav-bar {
    padding: 0.5rem 0.5rem;
    /* background-color: white; */
    color: #183039;
}

.right {text-align: right;}
.center {text-align: center;}

.text-light {color: #dad3cd;}
.text-featured {color: #183039;}

.text-tight {line-height: 0.8;}

.text-lg {font-size: 4.5rem;}
.text-xl {font-size: 6rem;}

.bg-featured {background-color: #183039;}
.bg-dark     {background-color: #24282B;}

hr {
    border: none;
    border-bottom: 1px solid #183039; 
    margin: auto;
    width: 115px;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }

/* General typography & universal styles  */
body {
    font-family: 'Martel', serif;
    font-weight: 200;
    color: rgb(60,60,60);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'GFS Didot', serif;
    font-weight: normal;
}
h1 {
    font-size: 10rem;
    line-height: 0.8;
}
h1 span {
    display: block;
    font-size: 3.5rem;
    line-height: 0.9;
}
h2 {
    font-size: 2.5rem;}
h2 span {
        display: block;
        font-size: 2rem;
        line-height: 0.9;
    }
h3 {font-size: 2.5rem;}

.text-big { font-size: 2rem;}
p {font-weight: 200;}
p:last-child {margin-bottom: 0;}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

nav a { 
    text-decoration: none;
    font-size: 1.2rem;
    /* color: #183039; */
}

.social a {padding: 0.2rem;}

.social a:hover {color: #3a768b;}

.menu p {
    font-size: 0.9rem;
    margin-top: 0.5rem;
}
.menu h3 {margin: 1rem 0;}

/* Background Images */
.bg-image {
background-color: #183039;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.bg-interior { 
background-image: url('/images/interior.jpg'); 
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-color: #dad3cd;
}
.bg-glass {background-image: url('/images/negroni-glass-faded.jpg');}
.bg-coctail {
    background-image: url('/images/coctail.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #dad3cd; 
}

.bg-window {background-image: url('/images/negroni-2.jpg');}
.bg-plant {background-image: url('/images/negroni-4.jpg');}
.bg-water {background-image: url('/images/water-light.jpg');}

/* Overlay Effect------- */
.bg-overlay {
    position: relative;
  }
  
.bg-overlay::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}

.bg-overlay > * {
    position: relative;
  }
.bg-overlay-gradient::before { 
    background: linear-gradient(260deg, rgba(0,0,0,0.8), rgba(0,0,0,0));
  } 

/* Unique Styles */  
.price {
    display: block;
    margin-top: 0.5rem;
    font-weight: 400;
    text-align: right;
}
.button {
    padding: 0.2rem;
    color: #183039;
    margin: 0.1rem;
    border-bottom: 1px solid rgb(218, 211, 205, 0);
}
.button:hover {
    color: #183039;
    border-bottom: 1px solid #183039;
    }

/* About Page */

/* Gallery Images */

.bg-gallery-1 {
    background-image: url('/images/bg-gallery-1.jpg');
    background-position: 50% 70%;
}
.bg-gallery-2 {background-image: url('/images/bg-gallery-3.jpg');}
.bg-gallery-3 {background-image: url('/images/bg-g-2.jpg');}
.bg-gallery-4 {background-image: url('/images/bg-gallery-6.jpg');}
.bg-gallery-negroni {background-image: url('/images/bg-g-1.jpg');}
.negroni-5 {
    background-image: url('/images/bg-gallery-5.jpg');
    background-position: 80% 50%;
}
.bg-story {
    background-image: url('/images/bg-gallery-4.jpg');
background-position: 50% 50%;
}

.gallery [class*="col-"] {padding: 1%;}


/* Aspect Ratio  */
.portrait-tall {padding-bottom: 175%;}
.portrait {padding-bottom: 125%;}
.square {padding-bottom: 100%;}
.landscape {padding-bottom: 66%;}
.landscape-wide {padding-bottom: 56%;}
.custom-portr {padding-bottom: 117%;}

.bg-pos-b {background-position: bottom;}

/* Head & Footer */
footer {
    padding: 5%;
    padding-bottom: 1rem;
}
footer a {font-size: 1.2rem;}
footer h2 {margin-bottom: 0.5rem;}
.sub-footer {padding-top: 5%;}
.sub-footer p {
    opacity: 0.7;
    font-size: 0.8rem;
}

/* SM - 48em - mob. */
@media(max-width: 48em) {
    .mob-padded-t-0 {padding-top: 0;}
    .mob-padded-b-0 {padding-bottom: 0;}
    .mob-hide {display: none;}
    h1 {font-size: 6rem;}
    h1 span {font-size: 2rem;}
    footer a {font-size: 1rem;}
    .mob-hide {display: none;}
    nav a {font-size: 1rem;}
    h2 {font-size: 1.5rem;}
    .gallery {padding: 2%;}
    .gallery [class*="col-"] {padding: 2%;}
}
/* Custom size XXS */
@media(max-width: 25em) {
    h1 {font-size: 4.5rem;}
    h1 span {font-size: 1.5rem;}
    nav a {font-size: 0.8rem;}
}